/* this is for you to complete */

li ul {color:blue;}
ul::first-line	 {font-weight:bold;}
ul :link {color:red}
div a {color:green}
div p:only-child a{color:purple ;background-color: yellow;}
li ul li ul { list-style-type: none;}